<!DOCTYPE html>
<html>
  <head>
    <meta charset='utf-8'>
    <meta name="viewport"
        content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>Gamebook Title Here</title>
    <script>
    var gamebook = {
        'player' : {
            'currentSection' : null,
            'inventory' : [],
            'codewords' : {},

            'take' : function(item) {
                if (this.inventory.indexOf(item) === -1
                    && !(item in gamebook.droppedItems)) {
                    this.inventory.push(item);
                    this.inventory.sort();
                    gamebook.updateInventory();
                }
            },

            'drop' : function(item) {
                var i = this.inventory.indexOf(item);
                if (i >= 0) {
                    this.inventory.splice(i, 1);
                    gamebook.droppedItems[item] = true;
                    gamebook.updateInventory();
                }
            },

            'carries' : function(item) {
                return this.inventory.indexOf(item) >= 0;
            },

            'set' : function(codeword) {
                this.codewords[codeword] = true;
                gamebook.updateCodewords();
            },

            'has' : function(codeword) {
                return codeword in this.codewords;
            }
        },

        'sections' : {},

        'turnToFunctions' : {},

        'autoRun' : {},

        'droppedItems' : {},

        'addAutoRun' : function(nr, f) {
            if (nr in this.autoRun) {
                this.autoRun[nr].push(f);
            } else {
                this.autoRun[nr] = [f];
            }
        },

        'runAutoRuns' : function(nr) {
            if (nr in gamebook.autoRun) {
                gamebook.autoRun[nr].forEach(function (f) {
                    f();
                });
            }
        },

        'addSection' : function(nr, element) {
            var section = {'element' : element, 'nr' : nr};
            this.sections[nr] = section;
        },

        'takeItem' : function(nr, item) {
            this.addAutoRun(nr, function() {
                gamebook.player.take(item);
            });
        },

        'dropItem' : function(nr, item) {
            this.addAutoRun(nr, function() {
                gamebook.player.drop(item);
            });
        },

        'setCodeword' : function(nr, codeword) {
            this.addAutoRun(nr, function() {
                gamebook.player.set(codeword);
            });
        },

        'turnTo' : function(nr) {
            console.log("Turning to " + nr + ".");
            if (!nr in this.sections) {
                throw new Exception("Can not turn to non-existing section "
                                    + nr + ".");
            }
            this.displaySection(nr);
        },

        'displaySection' : function(nr) {
            if (this.player.currentSection) {
                this.player.currentSection.element.style.display = 'none';
            }
            var e = this.sections[nr].element;
            this.enableDisableSectionLinks(
                e.getElementsByClassName('sectiontext')[0]);
            e.style.display = 'block';
            this.player.currentSection = gamebook.sections[nr];
            gamebook.runAutoRuns(nr);
        },

        'enableDisableSectionLinks' : function(e) {
            // FIXME handle auto links that must be followed if possible
            var enableNextLink = true;
            Array.prototype.forEach.call(e.childNodes, function(c) {
                if (/sectionref$/.test(c.className)) {
                    if (enableNextLink) {
                        gamebook.enableLink(c);
                    } else {
                        gamebook.disableLink(c);
                    }
                    enableNextLink = true;
                } else if (c.className === 'itemcarried') {
                    var item = c.dataset.carried;
                    enableNextLink = gamebook.player.carries(item);
                } else if (c.className === 'itemnotcarried') {
                    var item = c.dataset.carried;
                    enableNextLink = !gamebook.player.carries(item);
                } else if (c.className === 'hascodeword') {
                    var codeword = c.dataset.has;
                    enableNextLink = gamebook.player.has(codeword);
                } else if (c.className === 'hasnotcodeword') {
                    var codeword = c.dataset.has;
                    enableNextLink = !gamebook.player.has(codeword);
                }
            });
        },

        'enableLink' : function(e) {
            e.addEventListener('click',
                               gamebook.getTurnToFunction(e.dataset.ref));
            e.className = "enabledsectionref";
        },

        'disableLink' : function(e) {
            e.removeEventListener('click',
                               gamebook.getTurnToFunction(e.dataset.ref));
            e.className = "disabledsectionref";
        },

        'updateInventory' : function() {
            // FIXME obviously, this should be better written and do more
            var e = document.getElementById('inventoryitems');
            e.innerHTML = gamebook.player.inventory.join(', ');
        },

        'updateCodewords' : function() {
            // FIXME obviously, this should be better written and do more
            var e = document.getElementById('codewordslist');
            e.innerHTML = Object.keys(gamebook.player.codewords
                                     ).sort().join(', ');
        },

        'getTurnToFunction' : function(nr) {
            if (nr in this.turnToFunctions) {
                return this.turnToFunctions[nr];
            } else {
                var f = function () {
                    gamebook.turnTo(nr);
                };
                this.turnToFunctions[nr] = f;
                return f;
            }
        }

    };

    </script>
  <style>
    .enabledsectionref {font-weight: bold; cursor: pointer;}
    .disabledsectionref {font-weight: bold; color: #aaa; cursor: not-allowed;}
    .itemfound {font-weight: bold; cursor: pointer;}
    .sectionnumber {font-weight: bolder;
                    margin-left: 50%%;
                    margin-right: 50%%;}
    .section {display: none; width: 90%%; margin-left: 5%%; margin-right: 5%%;}
    .sectiontext {margin-top: 0.5em;}
    .gamebook {max-width: 30em; padding: 1em; width: 100%%; font-size: 133%%;}
    .inventory {background: #cfc; margin-top: 5em;}
    .inventoryheading {}
    .inventoryitems {}
    .codewords {background: #fcc; margin-top: 0.5em;}
    .codewordsheading {}
    .codewordslist {}
    .setcodeword {color: #f55;}
    .hascodeword {color: #f55;}
  </style>
  </head>
  <body>
<!-- TODO definitely need to add content here, but mostly book specific? -->
  <div class="gamebook">
