            'started' : false,
            'currentSection' : -1,
            'collections' : {},

            'collect' : function(type, name) {
                if (type in this.collections) {
                    return;
                }
                this.collections[type] = {
                    'name' : name,
                    'contents' : [],
                    'dropped' : {},
                    'add' : function(what) {
                        if (this.contents.indexOf(what) === -1
                            && !(what in this.dropped)) {
                            this.contents.push(what);
                            this.contents.sort();
                        }
                    },
                    'drop' : function(what) {
                        var i = this.contents.indexOf(what);
                        if (i >= 0) {
                            this.contents.splice(i, 1);
                            this.dropped[what] = true;
                        }
                    },
                    'has' : function(what) {
                        return this.contents.indexOf(what) >= 0;
                    }
                };
                gamebook.addCollectionView(type, name);
            },

            'add' : function(type, what) {
                this.collections[type].add(what);
                gamebook.updateCollectionsView();
            },

            'drop' : function(type, what) {
                this.collections[type].drop(what);
                gamebook.updateCollectionsView();
            },

            'has' : function(type, what) {
                return this.collections[type].has(what);
            },

            'getState' : function() {
                return JSON.stringify({
                    'collections' : this.collections,
                    'currentSection' : this.currentSection
                });
            },

            'setState' : function(state) {
                var parsedState = JSON.parse(state);
                this.currentSection = parsedState.currentSection;
                for (var c in parsedState.collections) {
                    var collection = parsedState.collections[c];
                    if (!(c in this.collections)) {
                        this.collect(c, collection.name);
                    } else {
                        this.collections[c].name = collection.name;
                    }
                    this.collections[c].contents = collection.contents;
                    this.collections[c].dropped = collection.dropped;
                }
            }
