    .startlink,.sectionref,.displayintrolink,.hideintrolink,.found,.add,.random {
                   font-weight: bold;
                   margin: 0.2em;
                   vertical-align: middle;
                   white-space: nowrap;
    }

    .sectionref.enabledlink {
        padding-left: 1.5em;
        padding-right: 1.5em;
    }

    .startlink,.enabledlink,.displayintrolink,.hideintrolink,.found,.random {
        cursor: pointer;}

    .startlink,.enabledlink,.displayintrolink,.hideintrolink,.found,
    .random {background: #eef;
    }
    .startlink:hover,.enabledlink:hover,.displayintrolink:hover,
       .hideintrolink:hover {background: #a9f;}
    .disabledlink {color: #bbb; cursor: not-allowed; background: inherit;}
    .disabledlink:hover {background: inherit;}
    .sectionnumber {font-weight: bolder;
                    margin-left: 50%%;
                    margin-right: 50%%;}
    .section {display: none; width: 90%%; margin-left: 5%%; margin-right: 5%%;}
    .sectiontext {margin-top: 0.5em;}
    .gamebook {max-width: 30em; padding: 1em; width: 100%%; font-size: 133%%;}
    .collections {margin-top: 4em;}
    .collection {background: #ddd; margin-top: 1em;}
    .collectionheading {}
    .collectionheading::after {content: ": ";}
    .collectioncontents {}
    .collect {}
    .add {font-weight: bold;}
    .drop {font-style: italic;}
    .has {font-style: italic;}
    .hasnot {font-style: italic;}
    .collectionTemplate {display: none;}
    .sectionimage {width: 100%%; padding: 1em;}
    .nodisplay {display: none;}
