    .enabledsectionref {font-weight: bold; cursor: pointer;}
    .disabledsectionref {font-weight: bold; color: #aaa; cursor: not-allowed;}
    .sectionnumber {font-weight: bolder;
                    margin-left: 50%%;
                    margin-right: 50%%;}
    .section {display: none; width: 90%%; margin-left: 5%%; margin-right: 5%%;}
    .sectiontext {margin-top: 0.5em;}
    .gamebook {max-width: 30em; padding: 1em; width: 100%%; font-size: 133%%;}
    .collections {margin-top: 4em;}
    .collection {background: #ddd; margin-top: 1em;}
    .collectionheading {}
    .collectionheading::after {content: ": ";}
    .collectioncontents {}
    .collect {}
    .add {font-weight: bold;}
    .found {font-weight: bold; cursor: pointer;}
    .drop {font-style: italic;}
    .has {font-style: italic;}
    .hasnot {font-style: italic;}
    .collectionTemplate {display: none;}
